name: Update Github Readme
on:
  schedule:
    - cron: '0 * * * *' #Runs every hour
  workflow_dispatch:

jobs:
  update-readme:
    name: Update this repo's README with latest videos from YouTube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: "YOUTUBE-VIDEOS-LIST"
          feed_list: "https://www.youtube.com/feeds/videos.xml?channel_id=UC_CWq39fcBPCmgKYZ0yProg"
Comment
